.three.columns.web-main{
	height: 100vh;
	float: left;
	background-image: -webkit-linear-gradient(0deg,rgba(100,100,100,0.00) 0.52%,rgba(55,55,55,0.40) 96.37%,rgba(50,50,50,0.75) 100%,rgba(0,0,0,0.00) 100%), url(../images/noise.png);
	background-image: -moz-linear-gradient(0deg,rgba(100,100,100,0.00) 0.52%,rgba(55,55,55,0.40) 96.37%,rgba(50,50,50,0.75) 100%,rgba(0,0,0,0.00) 100%), url(../images/noise.png);
	background-image: -o-linear-gradient(0deg,rgba(100,100,100,0.00) 0.52%,rgba(55,55,55,0.40) 96.37%,rgba(50,50,50,0.75) 100%,rgba(0,0,0,0.00) 100%), url(../images/noise.png);
	background-image: linear-gradient(90deg,rgba(100,100,100,0.00) 0.52%,rgba(55,55,55,0.40) 96.37%,rgba(50,50,50,0.75) 100%,rgba(0,0,0,0.00) 100%), url(../images/noise.png);
	position: fixed;
	border-right: 1px solid white;
}

.web-main-text{
	margin-left: -30px;
	color: white;
	position:fixed;
	top:40vh;
	text-align:center;
	width:inherit;
}

h5 {
	font-family: 'Merriweather', serif;
	text-align: right;
	font-weight: 900;
	font-size: 32px;
	line-height: 30px;
}

h6{
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	width: 80%;
	padding: 5px 0px 5px 0px;
	float: right;
	font-style: italic;
}

h7{
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	width: 80%;
	padding: 20px 0px 5px 0px;
	float: right;
}

.og-grid {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	vertical-align: top;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -30px 0 0 -15px;
}

.og-expander {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-content {
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.og-aligncontainer_01{
	background-color: #ebebeb;
	font-family: 'Merriweather', serif;
	color: #363636;
	width: 21.25%;
	margin-left: 1%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.og-aligncontainer_02{
	background-color: #ffffff;
	font-family: 'Merriweather', serif;
	color: #363636;
	width: 57.75%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.og-aligncontainer_03{
	background-color: #363636;
	font-family: 'Merriweather', serif;
	color: #ffffff;
	width: 20%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.og-section_01 {
	position: relative;
	top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 8%;
		text-align: right;
}

.og-section_02 {
	position: relative;
	top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 8%;
		text-align: left;
}

.og-section_03 {
	position: relative;
	top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 10%;
		text-align: left;
}

.og-goal{
	margin-bottom: 10%;
}

h1 {
	font-style: italic;
	font-weight: 900;
	font-size: 50px;
	line-height: 50px;
}

h2 {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 36px;
}

h3 {
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
}

h4 {
	font-style: italic;
	font-weight: 900;
	font-size: 30px;
}

p1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

p2 {
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
}

p3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
}

p4 {
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
}

p5 {
	font-weight: 900;
	font-size: 14px;
	line-height: 18px;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}
